extends ../layouts/default

block main
  .text-center
    h2|Add a Department

block content
  form(class="formDecor", method='post', action="/department")
    input(type='hidden', name='_csrf', value="#{csrf_token}")
    br
    .form-horizontal(role="form")
      .form-group
        .col-sm-2
        .col-sm-3
          label(for='department_name',class="control-label") Department Name
        .col-sm-5
          input#department_name.form-control(type="text", name="department_name", placeholder="Enter a department name..." )
        .col-sm-2
       
      .form-group
        .col-sm-offset-5.col-sm-4
          button.btn.btn-default(type="submit", name="Add") Add    
          button.btn.btn-default(type="reset", name="Reset") Reset