extends ../layouts/default

block main
  center
      h2|Department

block content
  form(class="formDecor", method='post',action='/department/:id') 
        input(type='hidden', name="_method", value="put") 
        input(type='hidden', name='_csrf', value="#{csrf_token}")
        input(name="_id", type="hidden", value=dept._id.toHexString()) 
        center
          h4|Edit Details
        
        hr
         
        .form-horizontal(role="form")
          .form-group
            .col-sm-2
            .col-sm-3
             
                label(for='dn',class="control-label") Department Name
            .col-sm-5
               input#dn.NameClass(type="text", name="dept_name",value=dept.department, class="form-control")
            .col-sm-2
           
          .form-group
            .col-sm-offset-5.col-sm-1
              button.btn.btn-default(type="submit", name="Add") Update


