extends ../layouts/default

block main
  center
      h2|Project Class
block content
      .col-sm-4

      .col-sm-4
        h4| List of Project Classes
      .col-sm-4
      br
      br
      hr
      div.listTable
             div.listTableRow.solidBack
                 div.listTableRowItem(style="width: 3%; text-align: center; font-weight: bold;")
                 div.listTableRowItem(style="width: 30%; text-align: center; font-weight: bold;") Project Class
                 div.listTableRowItem(style="width: 30%; text-align: center; font-weight: bold;") Project Class Code
                 div.listTableRowItem(style="width: 30%; text-align: center; font-weight: bold;")
      cnt = 0;
       - each pc in pclasses
            div.listTable
              div.listTableRow(style="").bb
                div.listTableRowItem(style="width: 3%; text-align: center;")= ++cnt
                  .
                div.listTableRowItem(style="width: 30%; text-align: center;")= pc.project_class
                div.listTableRowItem(style="width: 30%; text-align: center;")= pc.project_class_code

                div.listTableRowItem(style="width: 30%; text-align: center; vertical-align: top;")
                  div.showInline
                    form(method="get", action="/dord/pclass/:id/edit")
                      input(type="hidden", value=pc._id.toHexString(), name="_id")
                      input(type="submit", value="Edit", class="formLink")
                  div.showInline
                    form( method="post", action="/dord/pclass/:id/delete") 
                      input(name="_id", type="hidden", value=pc._id.toHexString()) 
                      input(type="submit", value="Delete", class="formLink")
      if cnt == 0
            div.listTable No entries found

