doctype 5
html
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/style.css')
    link(rel="stylesheet" ,type="text/css" ,href="/css/bootstrap.css")
    link(rel="stylesheet", href="#{'/css'+ req.path + '.css'}", type="text/css")
  body
    .container
        include ../includes/messages
        block content
    script(src="/js/jquery-1.10.2.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="#{'/js' + req.path + '.js'}")